@charset "UTF-8";

* {
	border: none;
}



div#noticeBBS_title h1 {
	padding: 100px 0 50px;
	font-size: 50px;
}

div#notice_header_info {
	text-align: left;
	padding-left: 150px;
	border-bottom: 1px solid #000;
	padding-bottom: 40px;
	margin-bottom: 40px;
}

div#notice_header_info span:first-child {
	margin-right: 5px;
}

div#noticeBBS_container {
	width: 600px;
	margin: 0 auto;
	text-align: left;
}


/* 관리자 프로필 시작 */ 

div#admin_profile {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	margin: 20px 0;
	padding: 30px 0;	
}

div#admin_profile table {
	border-collapse: collapse;
	width: 600px;
	margin: 0 auto;
}

/* div#admin_profile table td {
	border: 1px solid #000;
} */

div#admin_profile table td#admin_name {
	font-size: 25px;
	vertical-align: bottom;
}

div#admin_profile table td#admin_subName {
	vertical-align: top;
	font-size: 11px;
}

div#admin_profile table td#introMent {
	padding: 20px 0 20px 10px;
	font-size: 13px;
}

div#admin_profile table td:first-child {
	width: 250px;
	text-align: left;
	padding: 5px 0 5px 10px;	
}

div#admin_profile table td img {
	width: 100px;
	height: 100px;
	border-radius: 50px;	
	float: right;
	margin: 10px;
}

div#admin_profile table td#subCnt button {
	background-color: #fff;
	border: 1px solid #000;
	display: inline-block;
	border-radius: 50px;
	font-size: 15px;
	padding: 5px;
}

div#admin_profile table td#subCnt button:hover {
	cursor: pointer;
}

div#admin_profile table td#subBtn {
	text-align: right;
	padding-right: 10px;
}

div#admin_profile table td#subBtn button {
	background-color: #fff;
	border: 1px solid #000;
	display: inline-block;
	border-radius: 50px;
	font-size: 15px;
	padding: 5px;	
}

div#admin_profile table td#subBtn button:hover {
	cursor: pointer;
}

div#btnArea {
	text-align: right;
}

div#btnArea button.noticeBtn {

	background-color: #000;
	border: 1px solid #fff;
	color: #fff;
	display: inline-block;
	font-size: 15px;
	padding: 10px;	
}

div#btnArea button.noticeBtn:first-child {
	margin-right: 5px;
} 

div#btnArea button.noticeBtn:hover {
	cursor: pointer;	
}