@charset "UTF-8";

/*아직 style_Reset.css 없어 임시로 넣어놓은 css입니다.*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
}

a:link { /* a요소에서 href속성이 적용된 텍스트의 색상 */
	color: #333;
}

a:visited { /* href속성값이 적용된 링크를 방문한 것 */
	color: #333;
}

a:hover { /* 하이퍼텍스트에 마우스를 위치하면 색상이 #444로 변경됨 */
	color: #444;
}

a:active { /* :hover 상태에서 마우스왼쪽 버튼을 누르는 순간 적용 */
	color: #444;
}

.dFlex {
	display: flex;
}
/*아직 style_Reset.css 없어 임시로 넣어놓은 css입니다.*/

/*헤더 템플릿*/
div#wrap {
	width: 1900px;
	margin: 0 auto;
}

header#header {
	width: 100%;
}

header#header div#imgArea {
	margin: 0 auto;
	width: 80%;
	height: 100%;
	justify-content: space-between;
	align-items: center;
}

header#header div#imgArea div#imgArea_left {
	align-items: center;
}

div#lnbBtn {
	width: 70px;
	height: 50px;
	cursor: pointer;
	margin-left: 100px;
}

header#header div#imgArea div#imgArea_left img#list {
	display: inline-block;
	width: 100%;
	height: 100%;
}

header#header div#imgArea div#imgArea_left img#Logo {
	display: inline-block;
}

header#header div#imgArea div#imgArea_right i {
	width: 60px;
	height: 60px;
	font-size: 36px;
	cursor: pointer;
}

div#imgArea_right {
	align-items: center;
}

div#imgArea_right input {
	text-align: left;
	width: 300px;
	height: 50px;
	margin: 0 20px;
	padding: 3px 5px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 10px;
	font-size: 16px;
	transform: translateY(-12px);
}

header#header img#Logo {
	margin-left: 15px;
}

header#header nav#lnb {
	display: none;
	position: absolute;
	z-index: 0;
	top: 120px;
	left: 250px;
}

header#header nav#lnb div#lnb_top {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
}

header#header nav#lnb div#lnb_top div#lnb_top_Logo {
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 50%;
	margin: 10px auto;
	width: 140px;
	height: 140px;
	justify-content: center;
	align-items: center;
}

div#lnb_top_Logo img {
	display: inline-block;
	width: 70%;
	height: 70%;
}

div#lnb_top_register {
	text-align: center;
}

div#lnb_top_register button {
	margin: 15px auto;
	width: 110px;
	background-color: #fff;
	color: #00c3bd;
	border: 1px solid #00c3bd;
	font-weight: bold;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 20px;
}

div#lnb_top_register button:hover {
	color: #00a49f;
	border: 1px solid #00a49f;
}

header#header nav#lnb ul#LNBul {
	width: 210px;
	height: 600px;
	border: 1px solid #ddd;
	list-style: none;
	background-color: #fff;
}

header#header nav#lnb ul#LNBul li {
	margin: 20px 0;
	font-weight: bold;
}

header#header nav#lnb ul#LNBul li a {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
}

header#header nav#lnb ul#LNBul li:hover {
	cursor: pointer;
	color: #00c3bd;
}

/*푸터 템플릿*/
div#footer {
	padding-top: 20px;
	width: 1900px;
	height: 350px;
	background-color: #101010;
	color: #fff;
}

div#footerContent {
	width: 960px;
	margin: 0 auto;
	justify-content: space-between;
}

hr#footerLine {
	border: none;
	border: 1px solid #939393;
	color: #939393;
	margin: 15px 0;
}

div#footerContent table {
	text-align: left;
	padding: 30px;
}

table#saying {
	width: 350px;
}

table#saying p:first-child {
	font-size: 20px;
	font-weight: bold;
	color: fff;
	padding-bottom: 10px;
}

table#saying p:last-child {
	font-size: 12px;
	color: fff;
}

table#footerTbl {
	flex: 1;
	font-size: 12px;
}

table#footerTbl td {
	height: 30px;
	padding: 5px 0;
}

table#footerTbl td a {
	color: #fcfcfc;
}

div#footerCopyright {
	font-size: 13px;
	justify-content: space-between;
}

div#SNS img {
	width: 30px;
	height: 30px;
	border-radius: 5px;
	padding: 5px;
}