<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="myBatis.mapper.bbsMapper">
	<select id="isLogin" parameterType="string" resultType="int">
		Select count(*) From member
		where uId = #{uId}
	</select>
	
	<select id="selectBbsList" resultType="BoardBean">
		Select * from board
		order by bno DESC
	</select>
	
	<select id="selectBbsCategory" parameterType="int" resultType="BoardBean">
		Select * from board
		Where category = #{category}
		order by bno DESC
	</select>	
	
	<select id="selectBbsSearch" parameterType="string" resultType="BoardBean">
		Select * from board
		Where
		title like concat("%", #{search}, "%") 
		or subTitle like concat("%", #{search}, "%") 
		or content like concat("%", #{search}, "%") 
		or writer like concat("%", #{search}, "%")
		or category like concat("%", #{search}, "%")
		order by bno DESC
	</select>
</mapper>