<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="myBatis.mapper.bookMapper">
	<select id="isLogin" parameterType="string" resultType="int">
		Select
		count(*) From member
		where uId = #{uId}
	</select>
	
	<select id="selectBookList" resultType="arraylist">
		Select * from introBook
		order by bookNo DESC
	</select>
	
	<select id="selectBook" parameterType="int" resultType="BookBean">
		Select * from introBook
		where bookNo = #{bookNo}
	</select>
</mapper>