<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="myBatis.mapper.mapper">

	<select id="selectBookList" resultType="BookBean">
		Select bookNo, fileName,
		title, subTitle, writer, link
		from introBook order by bookNo DESC Limit
		10
	</select>

	<select id="selectNoticeList" resultType="NoticeBean">
		Select * from notice
		Limit 10
	</select>

	<select id="selectWriterList" resultType="WriterBean">
		Select * from writer
		Limit 10
	</select>
</mapper>