<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="myBatis.mapper.memberMapper">

	<select id="idCheck" parameterType="string" resultType="int">
		Select
		count(*) from member
		where uId = #{uId}
	</select>

	<select id="writerCheck" parameterType="string" resultType="int">
		Select count(*) from member
		where writer = #{writer}
	</select>

	<select id="login" parameterType="map" resultType="int">
		Select
		count(*) from member
		where uId = #{uId} and uPw = #{uPw}
	</select>

	<insert id="registerMember" parameterType="MemberBean">
		Insert into member
		(uId, uPw, uName, uPhone,
		writer,
		<if test="uEmail != null">
			uEmail,
		</if>
		<if test="uBirth != null">
			uBirth
		</if>
		)
		Values
		(#{uId}, #{uPw}, #{uName}, #{uPhone},
		<if test="writer==null">
			#{uId},
		</if>
		<if test="writer!=null">
			#{writer},
		</if>
		<if test="uEmail != null">
			#{uEmail},
		</if>
		<if test="uBirth != null">
			#{uBirth}
		</if>
		)
	</insert>

	<select id="findId" parameterType="map" resultType="string">
		Select uId
		from member
		where uName = #{uName} and uPhone = #{uPhone}
	</select>

	<select id="isMember" parameterType="map" resultType="string">
		Select
		count(*) from member
		where uId = #{uId} and uPhone = #{uPhone}
	</select>

	<update id="updatePw" parameterType="map">
		Update member
		Set
		uPw = #{uPw},
		Where uId = #{uId}
	</update>
</mapper>