<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="repository.BoardBean" alias="BoardBean"/>
		<typeAlias type="repository.BookBean" alias="BookBean"/>
		<typeAlias type="repository.CmntBean" alias="CmntBean"/>
		<typeAlias type="repository.DeclBean" alias="DeclBean"/>
		<typeAlias type="repository.LikeBean" alias="LikeBean"/>
		<typeAlias type="repository.MemberBean" alias="MemberBean"/>
		<typeAlias type="repository.NoticeBean" alias="NoticeBean"/>
		<typeAlias type="repository.SubsBean" alias="SubsBean"/>
		<typeAlias type="repository.WriterBean" alias="WriterBean"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://localhost:3306/quillpen?useSSL=false&amp;serverTimezone=Asia/Seoul&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;allowPublicKeyRetrieval=true" />
				<property name="username" value="root" />
				<property name="password" value="1234" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="myBatis/mapper/mapper.xml" />
		<mapper resource="myBatis/mapper/adminMapper.xml" />
		<mapper resource="myBatis/mapper/bbsMapper.xml" />
		<mapper resource="myBatis/mapper/boardMapper.xml" />
		<mapper resource="myBatis/mapper/bookMapper.xml" />
		<mapper resource="myBatis/mapper/memberMapper.xml" />
		<mapper resource="myBatis/mapper/myPageMapper.xml" />
		<mapper resource="myBatis/mapper/writerMapper.xml" />
	</mappers>
</configuration>
